name: CI
on: [push]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Turbo
        run: npx turbo run build lint dev

      - name: Deploy
        if: endsWith(github.ref, 'master') || endsWith(github.ref, 'next')
        run:
          echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" >> $HOME/.npmrc 2> /dev/null |
          npm run release:publish
