registry=http://imajs.dev/
//npmjs.dev:4873/:_password="dEdGME16SThSVzQ="
//npmjs.dev:4873/:username=admin
//npmjs.dev:4873/:email=miroslav.jancarik@firma.seznam.cz
//npmjs.dev:4873/:always-auth=true
//npmjs.dev/:_password="dEdGME16SThSVzQ="
//npmjs.dev/:username=admin
//npmjs.dev/:email=miroslav.jancarik@firma.seznam.cz
//npmjs.dev/:always-auth=true
